body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

main {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding-bottom: 2em;
}

.main-heading {
    width: 100%;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    border-left: 5px solid gray;
}

#ingredient-list-heading {
    grid-row: 1;
    font-size: 1rem;
    text-align: center;        
}

.searchByNameWrap {
    grid-column: 2;
    width: 100%;
    text-align: center;
    border-left: solid 5px gray;
}

li {
    list-style-type: none;
}

#search-results-container {
    min-height: 50vh;
    width: 100%;
    border-left: solid 5px grey;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.searchByIngredientWrap {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 0 1em;
}

.ingredientListWrap {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
}

#clear-list {
    justify-self: flex-start;
}

.ingredient-list-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}


#ingredient-list {
    color: red;
    font-size: .9rem;
    text-align: center;
    padding: 0;
}

IMG {
    max-width: 10em;
}

.recipe-container {
    padding: 1em;
    width: 10em;
}